*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'lato',sans-serif;
}
.img1{
	width: 100%;
	height: 100vh;
	position: relative;
	background-image: url(1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll;
}
.text1{
	font-size: 22px;
	top: 50%;
	color: #fff;
	position: absolute;
	text-align: center;
	width: 100%;
	letter-spacing: 2px;

}
.span1{
	background: #313534;
	color: white;
	padding: 20px 20px;
	border-radius: 20px;
	font-weight: bold;
}
section{
	text-align: center;
	align-content: center;
	justify-content: space-between;
	padding: 20px 0px;
	background-color: #282e34;;
}
.section-light{
	background-color: whitesmoke;
	color:rgb(170, 170, 170);
	font-size:26px;
	text-align: center;
	justify-content: space-between;

}
.img2{
	background-image: url(2.jpg);
	width: 100%;
	height: 80vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.text2{
	width: 100% ;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 80vh;

}
.btn{
	font-size: 22px;
	color: #fff;
	background-color:#313534;
	padding: 20px;
	margin: 30px;
	border-radius: 20px;
	font-weight: bold;
	border: 1px solid #313534;
}
.btn:hover{
	letter-spacing: 2px;
	color: red;
	transition: 0.9s;
}
.section-dark{
	background-color:#282e34;
	color: white;
	font-size: 22px;
}
.img3{
	width: 100%;
	height: 100vh;
	background-image: url(3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.btn3{
	position: absolute;
	top: 290%;
	left: 40% ;
	text-align: center;
	transform: translate(-50% -50%);
	background-color:#282e34 ;
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding: 20px 20px;
	border-radius: 20px;
	border: 1px solid #282e34;
}
.btn3:hover{
	transition: 0.7s;
	color: red;
	letter-spacing: 2px;
}
.footer{
	padding-top: 40px;
	background-color: #282e34;
	color:#fff;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
}
.footer ul li{
	align-items: center;
	justify-content: space-between;
	padding: 20px 0px;
}
.footer ul li a{
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	text-align: center;
}